/crash-reports
/disabledmods
/saves
/jarmods
/journeymap
/logs
/schematics
/screenshots
/structurize
/shaderpacks
/config/jei
/config/jei-client.toml
options.txt
usercache.json
usernamecache.json
reauth.toml
knownkeys.txt
optionsof.txt

servers.dat
o_prof
